:root{
// main color
--classblue:#0F4C81 !important;
--provence:#658DC6 !important;
--babyblue:#B5C7D3 !important;
--monument: #84898C !important;
--stucco: #A58D7F !important;
--peach: #F5B895 !important;
--comhusk: #F3D5AD !important;

// color
--dark1: #000000 !important;
--dark2: #3a3a3a !important;
--dark3:#6c6c6c !important;
--dark4:#c7c7c7 !important;
--dark5:#eeeeee !important;

// Break-Point
--breakpoint-sm:576px;
--breakpoint-md:768px;
--breakpoint-lg:992px;
--breakpoint-xl:1200px;
}